body{
  text-align: center;
}
.background{
  background-image: url(https://d1yn1kh78jj1rr.cloudfront.net/image/preview/VerQSYCteikar896b/storyblocks-two-pizzas-on-a-white-background-fragments-of-pizzas-on-the-edges-of-the-frame-and-with-free-space-in-the-center-menu_SuZp3QvsXE_SB_PM.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

nav{
background-color:red;
height:30px;
width:100%;
margin-bottom: 20px;
}

nav li {
    display:inline;
    margin-left:30px;
    text-decoration:none;
}

nav li a{
    padding:10px;
    color:white;
}
nav>ul>li>a:hover{
    box-shadow:0 0 10px;
    font-family: 'Bungee Inline', cursive;
  }
  #details{
    display: none;
  }
.mama-golden{
  color:red;
  font-family: 'Faster One', cursive;
}
.order{
  display: none;
  text-align: center;
}
.pizza{
  background-image: url(https://png.pngtree.com/thumb_back/fw800/back_pic/03/61/33/9157a73609f1383.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display:none;
}
.icon{
  background-image: url(https://st3.depositphotos.com/8797398/12961/i/950/depositphotos_129611926-stock-photo-abstract-pink-watercolor-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.about{
  font-family: 'Kameron', serif;
}
.h3{
  padding-top: 10px;
  font-family: 'Bungee Inline', cursive;
}
.services{
font-family: 'Averia Serif Libre', cursive;
}
.place-order{
  background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/JrbItQz/videoblocks-white-and-red-lines-3d-render-seamless-loop-background-4k-uhd-3840x2160_hodjoci4m_thumbnail-full01.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
input[type="text"]{
  background: transparent;
}
tr, td, th, table{
 padding: 5px;
 border: 1px solid black;
 border-collapse: collapse;
 margin-bottom:20px;
}
